//
// Font
// --------------------------------------------------


// TYPOGRAPHY
// --------------------------------------------------

@font-face {
  font-family: 'borisblackbloxxregular';
  src: url('../fonts/boris-black-bloxx/borisblackbloxx-webfont.eot');
  src: url('../fonts/boris-black-bloxx/borisblackbloxx-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/boris-black-bloxx/borisblackbloxx-webfont.woff') format('woff'),
       url('../fonts/boris-black-bloxx/borisblackbloxx-webfont.ttf') format('truetype'),
       url('../fonts/boris-black-bloxx/borisblackbloxx-webfont.svg#borisblackbloxxregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/asap/asap-regular-webfont.eot');
  src: url('../fonts/asap/asap-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/asap/asap-regular-webfont.woff') format('woff'),
       url('../fonts/asap/asap-regular-webfont.ttf') format('truetype'),
       url('../fonts/asap/asap-regular-webfont.svg#asapregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/asap/asap-italic-webfont.eot');
  src: url('../fonts/asap/asap-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/asap/asap-italic-webfont.woff') format('woff'),
       url('../fonts/asap/asap-italic-webfont.ttf') format('truetype'),
       url('../fonts/asap/asap-italic-webfont.svg#asapregular') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/asap/asap-bold-webfont.eot');
  src: url('../fonts/asap/asap-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/asap/asap-bold-webfont.woff') format('woff'),
       url('../fonts/asap/asap-bold-webfont.ttf') format('truetype'),
       url('../fonts/asap/asap-bold-webfont.svg#asapregular') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/asap/asap-bolditalic-webfont.eot');
  src: url('../fonts/asap/asap-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/asap/asap-bolditalic-webfont.woff') format('woff'),
       url('../fonts/asap/asap-bolditalic-webfont.ttf') format('truetype'),
       url('../fonts/asap/asap-bolditalic-webfont.svg#asapregular') format('svg');
  font-weight: 700;
  font-style: italic;
}


a {
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  margin: ($baseLineHeight / 2) 0;
  font-family: $headingsFontFamily;
  font-weight: normal !important;
  line-height: $baseLineHeight;
  letter-spacing: 1px;
  color: $green;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    line-height: 1;
    color: $grayLight;
  }
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1,
h2,
h3 { line-height: $baseLineHeight * 2; letter-spacing: 0px; }

h1 { font-size: $headingsBaseFontSize; } // ~34px
h2 { font-size: $headingsBaseFontSize * 0.90; } // ~31px
h3 { font-size: $headingsBaseFontSize * 0.75; } // ~26px
h4 { font-size: $headingsBaseFontSize * 0.66; } // ~22px
h5 { font-size: $headingsBaseFontSize * 0.50; } // ~17px
h6 { font-size: $headingsBaseFontSize * 0.40; } // ~14px

h1 small { font-size: $headingsBaseFontSize * 0.75; } // ~26px
h2 small { font-size: $headingsBaseFontSize * 0.66; } // ~22px
h3 small { font-size: $headingsBaseFontSize * 0.50; } // ~17px
h4 small { font-size: $headingsBaseFontSize * 0.40; } // ~14px


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: normal !important;
  color: $greenDark;
}

blockquote {
  border-left-color: $blue;
  font-style: italic;
  color: darken($blue, 16%);
}
