//
// Font
// --------------------------------------------------


// TYPOGRAPHY
// --------------------------------------------------

@font-face {
    font-family: 'BorisBlackBloxxRegular';
    src: url('../fonts/boris-black-bloxx/borisblackbloxx-webfont.eot');
    src: url('../fonts/boris-black-bloxx/borisblackbloxx-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/boris-black-bloxx/borisblackbloxx-webfont.woff') format('woff'),
         url('../fonts/boris-black-bloxx/borisblackbloxx-webfont.ttf') format('truetype'),
         url('../fonts/boris-black-bloxx/borisblackbloxx-webfont.svg#BorisBlackBloxxRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
  font-family: $headingsFontFamily;
}

h1 {
	font-size: 48px;
	font-weight: 900;
}

h2 {
	font-size: 36px;
	font-weight: 700;
}

h3 {
	font-size: 28px;
	font-weight: 700;
}

h4 {
	font-size: 24px;
	font-weight: 500;
}

h5 {
	font-size: 16px;
	font-weight: 500;
}

h6 {
	font-size: 13px;
	font-weight: 500;
	text-transform: none;
}

p {
	margin-bottom: 1em;
}
