// Mixin
// SASS Mixins
// --------------------------------------------------

// JK - https://github.com/maxim/bootswatch-rails/tree/master/vendor/assets/stylesheets/bootswatch/flatly


// Placeholder text
// -------------------------
@mixin placeholder($color: $placeholderText) {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}
