// Flatness by Jenil (www.jgog.in)
// Bootswatch 2.3.2
// --------------------------------------------------


// Global values
// --------------------------------------------------
/*
  COLOUR TWEAKS: http://colorschemedesigner.com/#2.61Tw0nAw0w0

  Primary Color:
  4FA800	4C7E20	336D00	80D335	96D35F

  Secondary Color A:
  008247	186140	00542E	30C07F	57C090

  Secondary Color B:
  99B600	788822	637600	C0DA37	C7DA62

  Complementary Color:
  A70035	7D1F3D	6C0023	D33567	D35F84

*/

// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #7B7C70 !default;
$gray:                  #9C9E8D !default;
$grayLight:             #B8BBA7 !default;
$grayLighter:           #EFF0E4 !default;
$white:                 #fff !default;


// Accent colours
// -------------------------
$blue:                  #34A6DB;
$greenDarker:           #043022;
$greenDark:             #005C40;
$green:                 #4FA800;
$greenLight:            #8AC265;
$greenLighter:          #CAEBAC;
$greenWash:             #E9F5DF;
$red:                   #EB1842;
$yellow:                #E4D316;
$orange:                #E4A216;
$pink:                  #E969C5;
$purple:                #8950EE;
$zest:                  #C7DA62;
$zestLight:             #DEE4C1;

// Sky colours
// -------------------------
// Day
$skyBlue-1:             #90ceff;
$skyBlue-2:             #adddff;
$skyBlue-3:             #dbf0ff;
$skyBlue-4:             #EDF6FC;


// Scaffolding
// -------------------------
$bodyBackground:        $green;
$textColor:             $greenDarker !default;


// Links
// -------------------------
$linkColor:             $green !default;
$linkColorHover:        lighten($linkColor, 5%) !default;


// Typography
// -------------------------
$sansFontFamily:        "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          15px;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        21px;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:      "BorisBlackBloxxRegular", "Helvetica Neue", "Arial Black", Verdana, sans-serif;
$headingsFontWeight:    normal;    // instead of browser default, bold
$headingsColor:         $green; // empty to use BS default, $textColor

$headingsBaseFontSize:  34px;

// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25 !default; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85 !default; // ~12px
$fontSizeMini:          $baseFontSize * 0.75 !default; // ~11px

$paddingLarge:          18px 36px !default; // 44px
$paddingSmall:          2px 12px !default;  // 26px
$paddingMini:           1px 8px !default;   // 24px

$baseBorderRadius:      5px !default;
$borderRadiusLarge:     8px !default;
$borderRadiusSmall:     3px !default;


// Tables
// -------------------------
$tableBackground:                   transparent !default; // overall background-color
$tableBackgroundAccent:             #f9f9f9 !default; // for striping
$tableBackgroundHover:              #f5f5f5 !default; // for hover
$tableBorder:                       #ddd !default; // table and cell border

// Buttons
// -------------------------
$btnBackground:                     $grayLight !default;
$btnBackgroundHighlight:            lighten($btnBackground, 10%) !default;
$btnBorder:                         #ddd !default;

$btnPrimaryBackground:              $textColor !default;
$btnPrimaryBackgroundHighlight:     lighten($btnPrimaryBackground, 10%) !default;

$btnInfoBackground:                 $blue !default;
$btnInfoBackgroundHighlight:        lighten($btnInfoBackground, 10%) !default;

$btnSuccessBackground:              $green !default;
$btnSuccessBackgroundHighlight:     lighten($btnSuccessBackground, 10%) !default;

$btnWarningBackground:              $orange !default;
$btnWarningBackgroundHighlight:     lighten($btnWarningBackground, 10%) !default;

$btnDangerBackground:               $red !default;
$btnDangerBackgroundHighlight:      lighten($btnDangerBackground, 10%) !default;

$btnInverseBackground:              $grayDarker !default;
$btnInverseBackgroundHighlight:     lighten($btnInverseBackground, 10%) !default;


// Forms
// -------------------------
$inputBackground:               $white !default;
$inputBorder:                   $greenLighter;
$inputBorderRadius:             $baseBorderRadius !default;
$inputDisabledBackground:       $grayLight !default;
$formActionsBackground:         $greenWash !default;
$inputHeight:                   $baseLineHeight + 10px !default; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
$dropdownBackground:            $greenDark !default;
$dropdownBorder:                rgba(0,0,0,0) !default;
$dropdownDividerTop:            rgba(0,0,0,0.2) !default;
$dropdownDividerBottom:         rgba(0,0,0,0.2) !default;

$dropdownLinkColor:             $white !default;
$dropdownLinkColorHover:        $white !default;
$dropdownLinkColorActive:       $dropdownLinkColor !default;

$dropdownLinkBackgroundActive:  $green !default;
$dropdownLinkBackgroundHover:   $green !default;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000 !default;
$zindexPopover:           1010 !default;
$zindexTooltip:           1030 !default;
$zindexFixedNavbar:       1030 !default;
$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;


// Sprite icons path
// -------------------------
$iconSpritePath:          image-path("glyphicons-halflings.png") !default;
$iconWhiteSpritePath:     image-path("glyphicons-halflings-white.png") !default;


// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight !default;


// Hr border color
// -------------------------
$hrBorder:                $grayLighter !default;


// Horizontal forms & lists
// -------------------------
$horizontalComponentOffset:       180px !default;


// Wells
// -------------------------
$wellBackground:                  $grayLighter !default;


// Navbar
// -------------------------
$navbarCollapseWidth:             979px !default;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1 !default;

$navbarHeight:                    50px !default;
$navbarBackgroundHighlight:       $white;
$navbarBackground:                $white;
$navbarBorder:                    $white;

$navbarText:                      $grayDarker !default;
$navbarLinkColor:                 $greenDark !default;
$navbarLinkColorHover:            $white !default;
$navbarLinkColorActive:           $greenDark !default;
$navbarLinkBackgroundHover:       $green !default;
$navbarLinkBackgroundActive:      $greenLighter !default;

$navbarBrandColor:                $navbarLinkColor !default;

// Inverted navbar
$navbarInverseBackground:                $green !default;
$navbarInverseBackgroundHighlight:       $green !default;
$navbarInverseBorder:                    darken($green, 5%) !default;

$navbarInverseText:                      $white !default;
$navbarInverseLinkColor:                 $white !default;
$navbarInverseLinkColorHover:            $greenLight !default;
$navbarInverseLinkColorActive:           $greenLight !default;
$navbarInverseLinkBackgroundHover:       transparent !default;
$navbarInverseLinkBackgroundActive:      darken($navbarInverseBackground, 5%) !default;

$navbarInverseSearchBackground:          $white !default;
$navbarInverseSearchBackgroundFocus:     $white !default;
$navbarInverseSearchBorder:              $grayLight !default;
$navbarInverseSearchPlaceholderColor:    $gray !default;

$navbarInverseBrandColor:                $navbarInverseLinkColor !default;


// Pagination
// -------------------------
$paginationBackground:                #fff !default;
$paginationBorder:                    #ddd !default;
$paginationActiveBackground:          $greenLighter !default;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter !default;
$heroUnitHeadingColor:            inherit !default;
$heroUnitLeadColor:               inherit !default;


// Form states and alerts
// -------------------------
$warningText:             $yellow !default;
$warningBackground:       desaturate(lighten($yellow,45%),30%) !default;
$warningBorder:           transparent !default;

$errorText:               $red !default;
$errorBackground:         desaturate(lighten($red,45%),30%) !default;
$errorBorder:             transparent !default;

$successText:             $green !default;
$successBackground:       desaturate(lighten($green,45%),30%) !default;
$successBorder:           transparent !default;

$infoText:                $blue !default;
$infoBackground:          desaturate(lighten($blue,43%),30%) !default;
$infoBorder:              transparent !default;


// Tooltips and popovers
// -------------------------
$tooltipColor:            #fff !default;
$tooltipBackground:       $greenDark !default;
$tooltipArrowWidth:       5px !default;
$tooltipArrowColor:       $tooltipBackground !default;

$popoverBackground:       $greenDark !default;
$popoverArrowWidth:       10px !default;
$popoverArrowColor:       $greenDark !default;
$popoverTitleBackground:  $greenDark !default;

// Special enhancement for popovers
$popoverArrowOuterWidth:  $popoverArrowWidth + 1 !default;
$popoverArrowOuterColor:  rgba(0,0,0,.25) !default;



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
$gridColumns:             12 !default;
$gridColumnWidth:         60px !default;
$gridGutterWidth:         20px !default;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;

// 1200px min
$gridColumnWidth1200:     70px !default;
$gridGutterWidth1200:     30px !default;
$gridRowWidth1200:        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1)) !default;

// 768px-979px
$gridColumnWidth768:      42px !default;
$gridGutterWidth768:      20px !default;
$gridRowWidth768:         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1)) !default;


// Fluid grid
// -------------------------
$fluidGridColumnWidth:    percentage($gridColumnWidth/$gridRowWidth) !default;
$fluidGridGutterWidth:    percentage($gridGutterWidth/$gridRowWidth) !default;

// 1200px min
$fluidGridColumnWidth1200:     percentage($gridColumnWidth1200/$gridRowWidth1200) !default;
$fluidGridGutterWidth1200:     percentage($gridGutterWidth1200/$gridRowWidth1200) !default;

// 768px-979px
$fluidGridColumnWidth768:      percentage($gridColumnWidth768/$gridRowWidth768) !default;
$fluidGridGutterWidth768:      percentage($gridGutterWidth768/$gridRowWidth768) !default;
