//
// Layout
// Styles for Forms
// --------------------------------------------------


// FORMS
// --------------------------------------------------
select[multiple] {
  height: 180px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 7px 6px;
  border: 2px solid $greenLighter;
  margin: 0;
  text-indent: 1px;
  @include border-radius(6px);
  @include box-shadow(none);
  @include placeholder($grayLight);

  &:focus {
    border-color: $blue;
    @include box-shadow(none);

  }
}

.control-group.error,
.control-group.error input:focus,
.control-group.error textarea:focus {
    border-color: #e74c3c;
    @include box-shadow(none);
}

.control-group.success,
.control-group.success input:focus,
.control-group.success textarea:focus {
    border-color: #2ecc71;
    @include box-shadow(none);
}

.control-group.warning,
.control-group.warning input:focus,
.control-group.warning textarea:focus {
    border-color: #f1c40f;
    @include box-shadow(none);
}

.control-group.info,
.control-group.info input:focus,
.control-group.info textarea:focus {
    border-color: #3498db;
    @include box-shadow(none);
}

input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #eaeded;
  border-color: transparent;
  color: #cad2d3;
  cursor: default;
}

input[type="file"]{
  line-height: 16px;
}

.input-append .add-on,
.input-prepend .add-on {
  border: none;
  background: none;
}

legend {
  border-bottom: none;
  color: $textColor;
}

.form-actions {
  border-top: none;
  @include border-radius($baseBorderRadius);
  background-color: $zestLight;
}

#content form {
  @include bg-trans-white();
  @include border-radius($baseBorderRadius);
  padding: 10px;
}


// OVERRIDES
#edit-field-tags-und { width: 95%; }
