//
// Layout
// Styles for main layout
// --------------------------------------------------

body {
  background: $black;
}


div#primary-page {
  background-color: $skyBlue-2; // Old browsers
}

div#main-wrapper {
  margin-bottom: 50px;
}
#logo {
  height: 75px;
  width: 186px;
}
div#main,
div#navigation {
  outline: 6px solid rgba(255, 255, 255, 0.618);
}

#grass-bright, #grass-dark {
  height: 200px;
  margin-top: 0;
  @include background(transparent image-url("bg-grass-bright.png") center top repeat-x);
  position: relative;
  z-index: 1;
}
#grass-dark {
  @include background-image(image-url("bg-grass-dark.png"));
  margin-top: -200px;
  z-index: 0;
  opacity: 0.3;
}



#content {
  @include bg-trans-white(0.95);
  padding: $paddingLarge;
  @include border-radius(0);

  .page-header {
    margin-bottom: 8px;
  }

  .pane-content {
    margin-bottom: 1em;
  }

  .pane-entity-field .pane-content {
    margin-bottom: 0;
  }
}

.sidebar {
  .item-list h3 {
    font-size: 1.33em;
  }
}



body #footer {
  @include background($black);
  margin-top: 0;
  font-size: $baseFontSize -2;

  .container {
    color: $white;
    padding: $paddingLarge;

    a {
      color: $accent2Light;
      font-weight: bold;
    }
  }
}
