//
// Layout
// Styles for main layout
// --------------------------------------------------

body {
  background: $greenLight;

  div#primary-page {
    background-color: #fff; // Old browsers
    @include background-image(linear-gradient(top, #90ceff 0%,#adddff 20%,#dbf0ff 50%,#fff 100%));
    padding-bottom: 50px;
  }
}

body #logo {
  padding: 15px;
}

#content {
  background: rgba(255, 255, 255, 0.7);
  padding: $paddingSmall;
  border-radius: $baseBorderRadius;
}


body #footer {
  @include background($greenLight image-url("bg-grass.png") center top repeat-x);
  min-height: 200px;
  margin-top: 0;
}
