//
// Layout
// Styles for main layout
// --------------------------------------------------

body {
  background: $greenLight;

  div#primary-page {
    background: white;
    padding-bottom: 50px;
  }
}

body #footer {
  @include background($greenLight image-url("bg-grass.png") center top repeat-x);
  min-height: 200px;
  margin-top: 0;
}
