//
// Layout
// Styles for main layout
// --------------------------------------------------

body {
  background: $earth;
  
  #logo {
    padding: $fontSizeLarge;
    
    img {
      max-width: 250px;
    }
  }
}

#header .container {
  @include bg-trans-white(0.85);
  margin-bottom: $fontSizeLarge;
  @include border-radius(0 0 $baseBorderRadius $baseBorderRadius);
}

div#primary-page {
  background-color: $skyBlue-2; // Old browsers
  @include background-image(linear-gradient(top, $skyBlue-1 0%, $skyBlue-2 25%, $skyBlue-3 60%, $skyBlue-4 100%));
}

div#main-wrapper {
  margin-bottom: 50px;
}

#grass-bright, #grass-dark {
  min-height: 200px;
  margin-top: 0;
  @include background(transparent image-url("bg-grass-bright.png") center top repeat-x);
}
#grass-dark {
  @include background-image(image-url("bg-grass-dark.png"));
}

#content {
  @include bg-trans-white();
  padding: $paddingLarge;
  @include border-radius(0 0 $baseBorderRadius $baseBorderRadius);
}

body #footer {
  @include background($green);
  margin-top: 0;
}
