//
// Layout
// Styles for main layout
// --------------------------------------------------


// MEDIA QUERIES
// --------------------------------------------------

// TINY
@media (max-width: 530px) {

  .navbar {
    div.btn-collapse-wrapper {
      margin-top: 0;
      clear: both;
    }
  }
}


// MOBILE
@media (max-width: 767px) {

  div.subnav {

    .nav > li:first-child > a,
    .nav > li + li > a {
      border-color: transparent;

      &:hover {
        background-color: darken($grayLighter, 10%);
      }
    }

    .nav > li:last-child > a {
      border-radius: 0 0 4px 4px;
    }

  }

  body {
    padding: 0;
  }

}


// TABLET
@media (max-width: 979px) {

  .nav-collapse.in {
    overflow: visible;
  }

  .navbar {
    .nav-collapse .nav > li {
      float: left;
      width: 48%;

      a,
      .dropdown-menu a {
        margin: 2px 5px 3px 0;
        padding: 4px;
        color: $white;
        background-color: $green;

        &:hover {
          color: $white;
          background-color: $greenDark;
        }
      }

    }

    .nav-collapse .topic-menu > li {

      a,
      .dropdown-menu a {
        background-color: $accent2;

        &:hover {
          background-color: $accent2Dark;
        }
      }
    }

    .btn-collapse-wrapper {
      margin-top: 30px;
      float: left;
    }
  }

  .hewston-slider,
  .hewston-slider-gutter {
    clear: both;
    width: 100% !important;
    margin: 0 !important;
  }

}


// DESKTOP
@media (min-width: 980px) {
  .navbar {

    input.search-query {
        width: 160px;
    }
    .nav > li > a {
      font-size: 16px;
      padding: 10px 7px;
    }
    a.brand {
      margin: 20px 10px 16px 3px;

      #logo {
        height: 65px;
        width: 161px;
      }
    }
  }
}


// WIDESCREEN
@media (min-width: 1200px) {

  .navbar {

    input.search-query {
        width: 200px;
    }
    .nav > li > a {
      font-size: 18px !important;
      padding: 12px 11px;
    }

    a.brand {
      margin: 20px 20px 20px 5px;

      #logo {
        height: 75px;
        width: 186px;
      }
    }
  }
}
