//
// Layout
// Styles for main layout
// --------------------------------------------------


// MEDIA QUERIES
// --------------------------------------------------

@media (max-width: 767px) {

  div.subnav {

    .nav > li:first-child > a,
    .nav > li + li > a {
      border-color: transparent;

      &:hover {
        background-color: darken($grayLighter, 10%);
      }
    }

    .nav > li:last-child > a {
      border-radius: 0 0 4px 4px;
    }
  }

  body {
    padding: 0;
  }

}

@media (max-width: 979px) {

  .nav-collapse.in {
    overflow: visible;
  }

  .navbar {
    .nav-collapse .nav > li {
      float: left;
      width: 48%;

      & > a {
        margin: 2px 5px 3px 0;
        padding: 4px;

        &:hover {
          color: $white;
          background-color: $green;
        }
      }
    }

  }

}



@media (min-width: 980px) {
  .navbar {
    input.search-query {
        width: 100px;
    }
    .nav > li > a {
      padding: 10px 8px;
    }
  }
}

@media (min-width: 1200px) {

  .navbar {
    input.search-query {
        width: 200px;
    }
    .nav > li > a {
      padding: 10px;
    }
  }

}
