//
// Layout
// Styles for main layout
// --------------------------------------------------


// MEDIA QUERIES
// --------------------------------------------------

@media (max-width: 767px) {

  div.subnav {

    .nav > li:first-child > a,
    .nav > li + li > a {
      border-color: transparent;

      &:hover {
        background-color: darken($grayLighter, 10%);
      }
    }

    .nav > li:last-child > a {
      border-radius: 0 0 4px 4px;
    }
  }

  body {
    padding: 0;
  }

}

@media (max-width: 979px) {

  .navbar {

    .nav-collapse .nav > li > a {
      color: $green;

      &:hover {
        color: $white;
        background-color: $green;
      }
    }

  }
}
