//
// Layout
// Styles for main layout
// --------------------------------------------------


// MEDIA QUERIES
// --------------------------------------------------

@media (max-width: 530px) {

  .navbar {
    div.btn-collapse-wrapper {
      margin-top: 0;
      clear: both;
    }
  }
}


@media (max-width: 767px) {

  div.subnav {

    .nav > li:first-child > a,
    .nav > li + li > a {
      border-color: transparent;

      &:hover {
        background-color: darken($grayLighter, 10%);
      }
    }

    .nav > li:last-child > a {
      border-radius: 0 0 4px 4px;
    }

  }

  body {
    padding: 0;
  }

}

@media (max-width: 979px) {

  .nav-collapse.in {
    overflow: visible;
  }

  .navbar {
    .nav-collapse .nav > li {
      float: left;
      width: 48%;

      a,
      .dropdown-menu a {
        margin: 2px 5px 3px 0;
        padding: 4px;
        color: $white;
        background-color: $green;

        &:hover {
          color: $white;
          background-color: $greenDark;
        }
      }

    }

    .nav-collapse .topic-menu > li {

      a,
      .dropdown-menu a {
        background-color: $accent2;

        &:hover {
          background-color: $accent2Dark;
        }
      }
    }

    .btn-collapse-wrapper {
      margin-top: 30px;
      float: left;
    }
  }

}



@media (min-width: 980px) {
  .navbar {
    input.search-query {
        width: 160px;
    }
    .nav > li > a {
      padding: 10px 8px;
    }
  }
}

@media (min-width: 1200px) {

  .navbar {
    input.search-query {
        width: 200px;
    }
    .nav > li > a {
      padding: 10px;
    }
  }

}
