// Menu
// Styles for Menus and Navs
// --------------------------------------------------

// SCAFFOLDING
// --------------------------------------------------

.page-header {
  border-bottom: none;
}


// NAVBAR
// --------------------------------------------------

body #header #navigation {
  margin-top: 0;
}


.navbar {
  margin: 0 0 5px 0;

  .brand {
    float: right;
    text-shadow: none;
    margin: 20px;
    padding: 0;

    &:hover {
      opacity: 0.8;
    }

    #logo {
      height: 75px;
      width: 186px;
    }
  }

  .navbar-main {
    top: 0;
  }
  .navbar-topics {
    bottom: 0;
  }
  .navbar-inner {
    @include border-radius(0);
    @include box-shadow(none);
    background: $white;
    border: none;
    padding: 10px;
  }

  .nav > li > a {
    text-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
    font-size: $baseFontSize + 1;
    font-weight: bold;
    margin-top: 10px;
  }

  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus {
    @include box-shadow(none);
    color: $greenDarker;
  }

  li.parent-cloned {
    @include bg-trans-black(0.5);
    font-weight: bold;
    font-size: $baseFontSize + 1;

    a {
      padding-left: 15px;
      font-weight: bold;
    }
  }

  .navbar-search .search-query {
    border: none;
    @include box-shadow(none);
    line-height: normal;
  }

  .btn-navbar {
    float: left;
    background-image: none;
    @include box-shadow(none);
    background: $greenDark;

    &:hover {
      background: $yellow;
      color: $black;
    }
  }

  // Search
  .btn-navbar-searcher {
    background: $blue;
  }


  // Topics ------------------------------------------------------------
  .btn-navbar-topics {
    background: $accent2Dark;
  }
  .topic-menu {
     & > li > a {
      color: $accent2;
    }
    & > .active a,
    & > li > a:hover,
    & > li > a:focus {
      color: $white;
      background: $accent2Dark;
    }

    & .dropdown-menu {
      background: $accent2Dark;
    }
  }
}




div.subnav {

  border-color: transparent;
  background-image: none;
  background-color: $grayLighter;
  @include box-shadow(none);

  div.subnav-fixed {
    top: $navbarHeight;
  }

  .nav > li > a {
    border-color: transparent;
    @include box-shadow(none);
    color: $textColor;
  }

  .nav > .active > a,
  .nav > .active > a:hover {
    border-color: transparent;
    background-color: darken($grayLighter, 10%);
    @include box-shadow(none);
    color: $textColor;
  }
}

// NAVIGATION
// --------------------------------------------------

.nav-list {

  & > li > a,
  & > .active > a,
  .nav-header {
    text-shadow: none;
  }

  .divider {
    background: none;
    border-bottom: 2px solid $dropdownDividerBottom;
  }
}

.nav-pills {
  margin: 5px 0;

  .open .dropdown-toggle {
    background-color: $blueDark;
  }

  & > li > a {
    @include bg-trans-white(0.50);
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;

    &:hover, &:focus {
      background-color: $white;
    }
  }
}

.pagination {

  ul {

    @include box-shadow(none);

    & > li > a {
      background-color: $green;
      border-color: transparent;
      color: $white !important;

      &:hover {
        background-color: lighten($green, 10%);
      }
    }

    & > .active > a,
    & > .active > a:hover {
      background-color: $paginationActiveBackground;
      color: $textColor;
    }

    & > .disabled > a,
    & > .disabled > a:hover {
      background-color: lighten($green, 10%);
      color: $white;
    }
  }
}

.nav-stacked {
  background: white;

  & > .active > a,
  & > .active > a:hover,
  .nav-header {
    color: $white;
  }
}

.pager {

  li > a,
  li > span {
    background-color: $green;
    border: none;
    color: $white;

    &:hover {
      background-color: lighten($green, 10%);
    }
  }

  .disabled > a,
  .disabled > span,
  .disabled > a:hover,
  .disabled > span:hover {
    background-color: lighten($green, 10%);
    color: $white;
  }
}

#breadcrumb {

  .active {
    color: $grayDark;
  }

  .divider {
    color: $gray;
  }

  & > li {
    text-shadow: none;
  }
}

.breadcrumb {
  padding: 7px 0;
  margin: 0;
  background: none;
}

#search-form {
  padding: 10px;
}

// -------------
.contextual-links-region {
  display: block;
}

.admin-menu {
  .navbar {
    top: 27px;
  }
}

#admin-menu {
  z-index: $zindexFixedNavbar + 3
}
