// Page
// Styles for individual pages
// --------------------------------------------------

// Homepage
// --------------------------------------------------

.views-nivo-slider {
  overflow: hidden;
  width: 100% !important;
  height: auto !important;

  .nivo-imageLink img {
    max-width: auto;
  }

  .nivo-caption {
    background: $white;
    padding: 10px;
    font-family: $headingsFontFamily;
    font-size: 1.33em;
    letter-spacing: 1px;

    a {
      font-weight: normal !important;
    }
  }

  img {
    //width: 100% !important;
    height: auto !important;
  }
}

// Calendar
// ---------------------------------------------------
.calendar a {
  font-size: 1.1em;
  line-height: 1em;
}
