// Page
// Styles for individual pages
// --------------------------------------------------

// Homepage
// --------------------------------------------------

#views-nivo-slider-slider-panel_pane_1 {
  overflow: hidden;
  width: 100% !important;
  height: auto !important;
}


#views-nivo-slider-slider-panel_pane_1 img {
  //width: 100% !important;
  height: auto !important;
}
